body {
    background: url(../picture/111.webp) no-repeat;
    background-size: auto;
    background-position: center;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}
html{
    position: relative;
}
.container {
    max-width: 600px;
    margin: 20px auto 70px auto;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    /* margin-bottom: 15px; */
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select, textarea, button {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

form button:hover {
    background-color: #0056b3;
}

textarea {
    resize: vertical;
}